<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.myreactapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
      android:usesCleartextTraffic="true"
      android:name=".MainApplication"
      android:label="${app_name}"
      android:icon="${app_icon}"
      android:roundIcon="${app_icon}"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      xmlns:tools="http://schemas.android.com/tools"
      tools:replace="label">
      <activity
        android:name=".MainActivity"
        android:label="${app_name}"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <meta-data android:name="CHANNEL" android:value="${channel_name}" />
    </application>
</manifest>

